.mdl-layout__content {
  display: flex;
}

.mdl-grid {
  max-width: 90%;
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-width: 100%;
}
.mdl-data-table{
  width: 100%;
  min-width: 100%;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-width: 100%;
}



.mdl-data-table th{
  text-align: left;
  padding: 0 0 12px 18px;
}


.mat-row:hover{
  background-color: rgba(117, 117, 117, 0.22);
  cursor: pointer;
}
.mat-card-title{
  font-size:25px;
}
.mdl-card__title{
  align-content: stretch;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.search-application-input{
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 0;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  -ms-flex-align: center;
  align-items: center;
}
.search-input{
  min-width: 300px;
}
.description-row {
  //max-width: 200px;
  white-space: normal;
}


.evaluate-btn{
  background-color: rgba(0, 56, 118, 0.78);
  color: #fff3e0;
}
