.full-width-input {
  width: 100%;
  margin-bottom: 25px;
}

.form-card {
  padding: 0;
  .form {
    padding: 0 50px 50px;
  }
}

.description-input {
  margin-top: 40px;
}

.submit-form-btn {
  float: right;
  width: 100px;
}

.form-page.mdl-layout__content {
  display: flex;
}

.mdl-grid {
  max-width: 800px;
  padding-top: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 200px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.description-row {
  //max-width: 200px;
  white-space: normal;
}

.accepted {
  background-color: #16d386;
}

.pending {
  background-color: #ffe650;
  /* color: white;*/
}

.rejected {
  background-color: #d32f2f;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-width: 100%;
}

.example-container .mat-table {
  width: 100%;
}

.mdl-data-table {
  min-width: 100%;

}

.card-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* z-index: 2;*/
  box-sizing: content-box;
  align-content: center;

}

.loading-spinner {
  position: relative;
  top: 50%;
  left: 50%;
  right: 50%;
  width: 300px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading-text {
  text-align: center;
  width: 100%;
}

.loading-card-footer {
  align-content: center;
  justify-content: center;
  display: flex;
  bottom: 5px;
  min-height: 20px;
  height: 20px;
}
