<div class="form-page mdl-layout__content">
  <div class="mdl-grid">

    <md-card class="loading-card mat-card mat-elevation-z8 mdl-cell mdl-cell--12-col" *ngIf="showLoading">
      <md-card-content class="white-bg card-overlay">

        <md-progress-spinner class="loading-spinner" [mode]="loadingMode" [value]="loadingValue" color="primary"
                             [strokeWidth]="10"></md-progress-spinner>
      </md-card-content>
      <md-card-footer class="loading-card-footer">
        <div class="loading-text"> {{loadingText}}</div>

      </md-card-footer>

    </md-card>

    <div class="form-card mdl-shadow--4dp mdl-card  mdl-cell--12-col"  *ngIf="!showLoading">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">ITEC 400 Summer Training Application Form</h3>
      </div>
      <div class="form">
        <form [formGroup]="internForm" name="training-form" (ngSubmit)="onSubmitForm()">
          <div class="establishment-title mdl-card__title">
            <h5>Establishment Information:</h5>
          </div>
          <md-input-container floatPlaceholder="auto" dividerColor="primary" class="full-width-input">
            <input mdInput type="text" name="name" required formControlName="company_name"
                   placeholder="Name">
            <span mdPrefix></span>
            <span mdSuffix></span>
            <md-hint align="start">

            </md-hint>
            <md-error *ngIf="internForm.controls['company_name'].hasError('required')">
              Please enter a <strong>company name</strong>.
            </md-error>
          </md-input-container>
          <md-input-container floatPlaceholder="auto" dividerColor="primary" class="full-width-input">
            <input mdInput type="text" name="field" required formControlName="company_field"
                   placeholder="Field">
            <span mdPrefix></span>
            <span mdSuffix></span>
            <md-error *ngIf="internForm.controls['company_field'].hasError('required')">
              This field is required
            </md-error>
            <md-hint align="start">

            </md-hint>
          </md-input-container>

          <md-input-container floatPlaceholder="auto" class="full-width-input">
              <textarea mdInput mdTextareaAutosize name="company_address" required [mdAutosizeMinRows]="4"
                        formControlName="company_address"
                        placeholder="Address">
              </textarea>

            <md-error *ngIf="internForm.controls['company_address'].hasError('required')">
              Please enter the <strong>company address</strong>
            </md-error>
          </md-input-container>

          <md-input-container floatPlaceholder="auto" class="full-width-input">
            <input mdInput type="text" name="field" formControlName="company_fax"
                   placeholder="Fax">
            <span mdPrefix></span>
            <span mdSuffix></span>
            <md-hint align="start">
            </md-hint>
          </md-input-container>

          <md-input-container floatPlaceholder="auto"  class="full-width-input">
            <input mdInput type="text" name="tel" required formControlName="company_phone"
                   placeholder="Telephone">
            <span mdPrefix></span>
            <span mdSuffix></span>
            <md-hint align="start">
            </md-hint>
            <md-error *ngIf="internForm.controls['company_phone'].hasError('required')">
              Please enter the <strong>company phone number</strong>
            </md-error>
          </md-input-container>

          <md-input-container floatPlaceholder="auto" class="full-width-input">
            <input mdInput type="email" name="email" formControlName="company_email" required pattern
                   placeholder="Email">
            <span mdPrefix></span>
            <span mdSuffix></span>
            <md-hint align="start">
            </md-hint>
            <md-error *ngIf="internForm.controls['company_email'].hasError('required')">
              Please enter the <strong>company email</strong>
            </md-error>
            <md-error *ngIf="internForm.controls['company_email'].hasError('pattern')">
              Please provide a <strong>valid email address</strong>
            </md-error>

          </md-input-container>

          <md-input-container floatPlaceholder="auto" class="full-width-input description-input">
              <textarea mdInput mdTextareaAutosize name="work_description" mdAutosizeMinRows="4"
                        formControlName="work_description" required
                        placeholder="Description of work to be done">


              </textarea>

            <md-error *ngIf="internForm.controls['work_description'].hasError('minlength')">
              Please provide more details.
            </md-error>
            <md-error *ngIf="internForm.controls['work_description'].hasError('required')">
              This field is required
            </md-error>
          </md-input-container>

          <div class="mdl-card__actions">
            <button class="submit-form-btn" md-raised-button [disabled]="internForm.pristine || internForm.invalid"
                    type="submit">Submit
            </button>
          </div>
        </form>
      </div>
    </div>


  </div>
</div>


