.full-width-input {
  width: 100%;
}
.mdl-grid {
  max-width: 800px;
  padding-top: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 200px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.form-card {
  .form {
    padding: 0 35px 35px;
  }

}


.card-overlay{
  position: relative;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
 /* z-index: 2;*/
  background-color: rgba(0, 0, 0, 0.52);
  box-sizing: content-box;
  align-content: center;

}
.white-bg{
  background-color: white;

}


.start-btn{
  position: relative;
  top: 50%;
  left:50%;
  right:50%;
  width: 300px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.loading-text{
 text-align: center;
  width: 100%;
}

.loading-card-footer{
  align-content: center;
  justify-content: center;
  display: flex;
  bottom: 5px;
  min-height: 20px;
  height: 20px;
}

.mat-card-title{
  font-size:25px;
}
.mdl-card__title{
  align-content: stretch;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.cancel-application-btn {
  background-color: #ff6759;
}

.approve-application-btn {
  background-color: rgba(88, 255, 125, 0.96);
}

.description-input {
  margin-top: 40px;
}

.mdl-card__actions {
  display: flex;
  flex-direction: row;
  padding: 40px 0 0;

}

.btn-group {
  width: inherit;
  position: relative;
  flex-direction: column;
  .actions{
    align-content: flex-end;
    align-self: flex-end;
    align-items: flex-end;
    position: relative;
    float: right;
    right: 0;

    .cancel-application-btn{
      margin-right: 15px;
    }
  }
}



.approve-application-btn, .cancel-application-btn {
  width: 100px;
}

.form-page.mdl-layout__content {
  display: flex;
}

.establishment-title{
  padding-left: 0;
}
