<div class="form-page mdl-layout__content">
  <div class="mdl-grid">

    <a *ngIf="!showLoading" md-icon-button title="Go Back" routerLink="../../applications">
      <md-icon class="md-48">keyboard_backspace</md-icon>
      Go Back
    </a>
    <md-card class="loading-card mat-elevation-z8 mdl-cell mdl-cell--12-col" *ngIf="showLoading">
      <md-card-content class="white-bg card-overlay">

        <md-progress-spinner class="start-btn" mode="indeterminate" color="primary"
                             [strokeWidth]="10"></md-progress-spinner>
      </md-card-content>
      <md-card-footer class="loading-card-footer">
        <div class="loading-text"> {{loading_text}}</div>

      </md-card-footer>

    </md-card>

    <md-card class="mat-card form-card mat-elevation-z8 mdl-cell  mdl-cell--12-col"
             *ngIf="applicationDetails && !showLoading">

      <md-card-header MdCardHeader class="mat-card-header">
        <md-card-title class="mat-card-title">ITEC 400 Summer Training Application Form</md-card-title>
        <md-card-subtitle md-card-subtitle class="mat-card-subtitle">Summer Training Application Form for
          <strong> {{applicationDetails.student_first_name + ' ' + applicationDetails.student_last_name}}</strong>
        </md-card-subtitle>
      </md-card-header>
      <div class="form">
        <form name="training-form">
          <div class="establishment-title mdl-card__title">
            <h5>Establishment Information:</h5>
          </div>
          <md-input-container floatPlaceholder="auto" dividerColor="primary" class="full-width-input">
            <input mdInput value="{{applicationDetails.company_name}}" type="text" name="name" disabled
                   placeholder="Name">
            <span mdPrefix></span>
            <span mdSuffix></span>
            <md-hint align="start">

            </md-hint>
          </md-input-container>
          <md-input-container floatPlaceholder="auto" dividerColor="primary" class="full-width-input">
            <input mdInput value="{{applicationDetails.company_field}}" type="text" name="field" disabled
                   placeholder="Field">
            <span mdPrefix></span>
            <span mdSuffix></span>
            <md-hint align="start">

            </md-hint>
          </md-input-container>

          <md-input-container floatPlaceholder="auto" class="full-width-input">
              <textarea mdInput mdTextareaAutosize name="address" disabled [mdAutosizeMinRows]="4"
                        placeholder="Address">
                {{applicationDetails.company_address}}
              </textarea>
          </md-input-container>

          <md-input-container floatPlaceholder="auto" dividerColor="primary" class="full-width-input">
            <input mdInput value="{{applicationDetails.company_fax}}" type="text" name="field" disabled
                   placeholder="Fax">
            <span mdPrefix></span>
            <span mdSuffix></span>
            <md-hint align="start">

            </md-hint>
          </md-input-container>


          <md-input-container floatPlaceholder="auto" dividerColor="primary" class="full-width-input">
            <input mdInput value="{{applicationDetails.company_phone}}" type="text" name="tel" disabled
                   placeholder="Telephone">
            <span mdPrefix></span>
            <span mdSuffix></span>
            <md-hint align="start">

            </md-hint>
          </md-input-container>

          <md-input-container floatPlaceholder="auto" dividerColor="primary" class="full-width-input">
            <input mdInput value="{{applicationDetails.company_email}}" type="text" name="email" disabled
                   placeholder="Email">
            <span mdPrefix></span>
            <span mdSuffix></span>
            <md-hint align="start">

            </md-hint>
          </md-input-container>


          <md-input-container floatPlaceholder="auto" class="full-width-input description-input">
              <textarea mdInput mdTextareaAutosize name="work" disabled
                        placeholder="Description of work to be done">
                {{applicationDetails.work_description}}
              </textarea>
          </md-input-container>


          <div class="establishment-title mdl-card__title">
            <h5>Student Information:</h5>
          </div>
          <md-input-container floatPlaceholder="auto" dividerColor="primary" class="full-width-input">
            <input mdInput
                   value="{{applicationDetails.student_first_name + ' ' + applicationDetails.student_last_name}} "
                   type="text" name="name" disabled
                   placeholder="Name-SurName">
            <span mdPrefix></span>
            <span mdSuffix></span>
            <md-hint align="start">

            </md-hint>
          </md-input-container>
          <md-input-container floatPlaceholder="auto" dividerColor="primary" class="full-width-input">
            <input mdInput value="{{applicationDetails.student_number}}" type="text" name="field" disabled
                   placeholder="Student Number">
            <span mdPrefix></span>
            <span mdSuffix></span>
            <md-hint align="start">

            </md-hint>
          </md-input-container>

          <md-input-container floatPlaceholder="auto" dividerColor="primary" class="full-width-input">
            <input mdInput value="{{applicationDetails.student_email}}" type="text" name="field" disabled
                   placeholder="Email">
            <span mdPrefix></span>
            <span mdSuffix></span>
            <md-hint align="start">
            </md-hint>
          </md-input-container>

          <md-input-container floatPlaceholder="auto" dividerColor="primary" class="full-width-input">
            <input mdInput value="{{ applicationDetails.application_date | amDateFormat:'LL' }}"
                   type="text" name="date" disabled
                   placeholder="Date">
            <span mdPrefix></span>
            <span mdSuffix></span>
            <md-hint align="start">
            </md-hint>
          </md-input-container>


          <div class="mdl-card__actions">
            <div class="btn-group">
              <a routerLink="../../applications" md-button>Go Back</a>

              <div class="actions">
                <button class="cancel-application-btn" md-raised-button
                        [disabled]="applicationDetails.application_status == 'accepted' || applicationDetails.application_status == 'rejected'"
                        (click)="denyApplication(applicationDetails.application_id, applicationDetails.student_number)">
                  Deny
                </button>
                <button class="approve-application-btn" md-raised-button
                        [disabled]="applicationDetails.application_status == 'accepted'"
                        (click)="approveApplication(applicationDetails.application_id, applicationDetails.student_number)">
                  Approve
                </button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </md-card>
  </div>
</div>
