<div class="home-page mdl-layout__content">


  <div class="home-page__grid mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-typography--text-center ">
       <h3 class="mdl-typography--title"> Department of Information Technology, School of Computing and Technology</h3>
       <h5 class="mdl-typography--subhead">Online Internship Management System</h5>
      </div>
    </div>
    <div class="options-card mdl-shadow--4dp mdl-card mdl-cell mdl-cell--4">
      <div class="card-img mdl-card__media">
        <img class="mdl-components-img" src="../../assets/IMS/student@2x.png">
      </div>
      <div class="mdl-card__actions">
        <div class="btn-group">
          <a class="student-btn" md-raised-button (click)="loginAs('student')">STUDENT</a>
        </div>
      </div>
    </div>
    <div class="options-card mdl-shadow--4dp mdl-card mdl-cell mdl-cell--4">
      <div class="card-img mdl-card__media">
        <img class="mdl-components-img" src="../../assets/IMS/coordinator@2x.png">
      </div>
      <div class="mdl-card__actions">
        <div class="btn-group">
          <a class="coordinator-btn" md-raised-button  (click)="loginAs('coordinator')">COORDINATOR</a>
        </div>
      </div>
    </div>
    <div class="options-card mdl-shadow--4dp mdl-card mdl-cell mdl-cell--4">
      <div class="card-img mdl-card__media">
        <img class="mdl-components-img" src="../../assets/IMS/company@2x.png">
      </div>
      <div class="mdl-card__actions">
        <div class="btn-group">
          <a class="company-btn" md-raised-button  (click)="loginAs('company')">COMPANY</a>
        </div>
      </div>
    </div>
  </div>
</div>

