<div class="student-home-page mdl-layout__content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">

    </div>

    <md-card class="mat-elevation-z8 mdl-cell mdl-cell--6-col">
      <md-card-header>
        <md-card-title>Important Information</md-card-title>
      </md-card-header>
      <md-card-content>
        <md-list>
          <md-list-item class="list-step">
            <p class="step-item" md-line>
              Go to Applications from the side menu, click on any available prospective intern to fill the form.
              committee
            </p>
          </md-list-item>
          <md-list-item class="list-step">
            <p class="step-item" md-line>
              Fill the Confirmation form and click on submit, Make sure to specify the start and end date.
              Submit the form, if Sucessfull, the form will be visible to both the intern and the Internship Coordinator.
            </p>
          </md-list-item>
          <md-list-item class="list-step">
            <p class="step-item" md-line>
              After an Intern has started the internship. Endeavour to review the interns log.

            </p>
          </md-list-item>
          <md-list-item class="list-step">
            <p class="step-item" md-line>
              To Review a log, go to interns page from the side menu<br>
              Click on view log button<br>
              And accept to accept the log.
              Declining the log will prompt you to add a reason for declining.
            </p>
          </md-list-item>
        </md-list>
      </md-card-content>

    </md-card>

    <md-card class=" notification-card mat-elevation-z8 mdl-cell mdl-cell--6-col">
      <md-card-header>
        <md-card-title>Notifications</md-card-title>
      </md-card-header>

      <md-card-content class="notifaction-content" *ngIf="isNotification">
        <md-list>
          <div class="just-wrapper" *ngFor="let notification of notifications | async; let i = index">
            <md-list-item>
              <md-icon md-list-icon class="md-18" color="primary">{{notification.extras}}</md-icon>
              <h4 md-line>{{notification.senderType}}</h4>
              <p md-line>{{notification.message}}</p>
            </md-list-item>
            <md-divider *ngIf="i > 1"></md-divider>
          </div>
        </md-list>
      </md-card-content>
      <md-card-actions align="start">

      </md-card-actions>
      <md-card-footer>
      </md-card-footer>
    </md-card>


  </div>
</div>
